<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/bootstrap.css">
    <title>Home</title>
</head>
<body>

    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">GoWebapp</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Contact
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Github</a>
                    <a class="dropdown-item" href="#">Email</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Twitter</a>
                  </div>
                </li>
              </ul>
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>
            </div>
        </nav>

        <hr>

        <div class="row">
            <div class="col-md-12">
                <form action="" method="POST">
                    <div class="form-group">
                        <input type="text" class="form-control" id="search" name="search" placeholder="Enter product or category">
                    </div>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div id="data-table">
                    <p class="text-center">Here are the results</p>
                    <!-- <table class="table table-bordered">
                        <tr>
                            <th>ID</th>
                            <th>Category</th>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                        </tr>
    
                        {{ range .Products }}
                        <tr>
                            <td>{{ .Id }}</td>
                            <td>{{ .Category.Description }}</td>
                            <td>{{ .Name }}</td>
                            <td>{{ .Price }}</td>
                            <td>{{ .Quantity }}</td>
                            <td>{{ .Amount }}</td>
                        </tr>
                        {{ end }}
                    </table> -->
                </div>
            </div>
        </div>
    </div>
    
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.js"></script>

    <script>
        var ajaxSearch = (search) => {
            $.ajax({
                type: 'POST',
                dataType: 'html',
                url: '/',
                beforeSend: () => {
                    $("#data-table").html("Loading...");
                },
                data: { search: search },
                success: (r) => {
                    $("#data-table").html(r);
                }
            });
        };

        $("#search").keyup(() => {
            ajaxSearch($("#search").val());
        })
    </script>
</body>
</html>